= render layout: "restview" do
  .span9
    %ul.nav.nav-pills
      - if @activepage.match(/[0-9]*\/$/)
        %li.active
      - else
        %li
      = link_to "Overview", :action => :show
      - if @activepage.match(/analyze/)
        %li.active
      - else
        %li
      = link_to "Generate Reports", :action => :analyze
      - if @activepage.match(/connect/)
        %li.active
      - else
        %li
      = link_to "Connect", :action => :connect
      - if @activepage.match(/menu/)
        %li.active
      - else
        %li
      = link_to "Manage Menu", :action => :menu
      - if @activepage.match(/devices/)
        %li.active
      - else
        %li
      = link_to "Devices", 'action' =>  :devices
      - if @activepage.match(/upload/)
        %li.active
      - else
        %li
      = link_to "Upload", :action => :upload
      - if @activepage.match(/edit/)
        %li.active
      - else
        %li
      = link_to "Setting", :action => :edit
      - if @activepage.match(/reports/)
        %li.active
      - else
        %li
      = link_to "Reports", :action => :reports
    = yield