<%= render layout: "restview" do %>

<div class="span9">

    
      <!-- Nav tabs -->
      <ul class="nav nav-pills">

  <% if @activepage.match(/show/) %>  
    <li class="active">
  <% else %>
  <li>
  <% end %>
    <%= link_to "Overview", :action => :show %></li>
    
  <% if @activepage.match(/connect/) %>  
    <li class="active">
  <% else %>
  <li>
  <% end %>
  <%= link_to "Connect", :action => :connect %></li>

  <% if @activepage.match(/devices/) %>  
    <li class="active">
  <% else %>
  <li>
  <% end %>    
  <%= link_to "Devices", 'action' =>  :devices %></li>

  <% if @activepage.match(/upload/) %>  
    <li class="active">
  <% else %>
  <li>
  <% end %>
  <%= link_to "Upload", :action => :upload %></li>

  <% if @activepage.match(/edit/) %>  
    <li class="active">
  <% else %>
  <li>
  <% end %>
  <%= link_to "Setting", :action => :edit %></li>

  <% if @activepage.match(/reports/) %>  
    <li class="active">
  <% else %>
  <li>
  <% end %>
  <%= link_to "Reports", :action => :reports %></li>

      </ul>
 <%= yield %>

    </div>

 <% end %>