<%= render layout: "restview" do %>

<div class="span9">

    
      <!-- Nav tabs -->
      <ul class="nav nav-pills">

        
  <li class="active"><%= link_to "Overview", :action => :show %></li>

        
  <li><%= link_to "Connect", :action => :connect %></li>

        
  <li><%= link_to "Devices", :action =>  :devices %></li>

        
  <li><%= link_to "Upload", :action => :new %></li>

        
  <li><%= link_to "Setting", :action => :edit %></li>

        
  <li><%= link_to "Reports", :controller => :reports, :action => :show %></li>

      </ul>


    </div>

    <% end %>