
<!-- <h1>FUCKFUCKFUCK</h1> -->
<%= render layout: "pills" do %>

    
<div class="container">
    
  <div class="alert alert-success">
    <p>To enable analytics on your <strong>ChefTab device</strong>, follow these instructions:</p>
    <br>

    <ol>
      <li>Turn on your ChefTab device.</li>
      <li>Go to Settings, then select Tracking.</li>
      <li>Fill in your UserID and TrackingID exactly as shown below.</li>
    </ol>
  </div>
    <%= label_tag :uid, "User ID" %>
    <%= text_field_tag :uid, current_user.id, :readonly => true %>

    <%= label_tag :tracking, "TrackingID" %>
    <%= text_field_tag :tracking, @restaurant.id, :readonly => true %>


  <p>For more information on using the API, <a href="/apitest">see the API docs</a>.


    </p>

</div>
<% end %>