- model_class = Restaurant
= render layout: "pills" do
  .page-header
    %h1= "Manage Menu"
  #reftable
    = render partial: "items"
  %table.table.table-responsive.table-condensed.table-hover
    %thead
      = form_for(@item, remote: true) do |f|
        %tr
          %td= f.text_field :name
          %td= f.text_field :price
          %td= f.submit "Add", :class => 'btn btn-primary'
    %tbody
