= render layout: "pills" do
  .col-md-9
    %table#raw-activities-table.table.table-responsive.table-condensed.table-hover
      %thead
        %tr
          %th Timestamp
          %th Device Id
          %th Prep-time
          %th
      %tbody
        - @reports.each do  |report|
          %tr{"data-id" => "ag5zfmNoZWZ0YWItZGVtb3ImCxIEVXNlchiAgICA0d2TCgwLEghBY3Rpdml0eRiAgICAgOTRCww"}
            %td= report.when
            %td= report.device_id
            %td= report.preptime
            %td.text-right
              %link= link_to "X", {controller: "reports", action: 'destroy', id: report.id}, :class => "btn btn-danger", confirm: "Are you sure?", method: :delete